<section>
  <h4>Enter your new password</h4>

  <div>
    <%= form_for(:user, url: reset_password_path) do |f| %>

      <%= f.hidden_field :password_reset_token, value: @password_reset_token %>

      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>

      <%= f.submit "Update Password", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "Forgotten password?", forgot_password_path %> </p> 
    <p><%= link_to "New user?", signup_path %> </p> 
  </div>
</section>